#role {
    position: absolute;
    height: 170px;
    width: 200px;
    bottom: 20px;
    z-index: 99;
}

#hero {
    background: url(../images/characters/Rebellion.png) no-repeat;
    width: 200px;
    height: 170px;
    float: left;
}

#mum {
    background: url(../images/characters/mum-c.png) no-repeat;
    width: 142px;
    height: 170px;
    float: left;
}

#dad {
    background: url(../images/characters/dad-c.png) no-repeat;
    width: 158px;
    height: 170px;
    float: left;
}

#kp {
    background: url(../images/characters/kp-c.png) no-repeat;
    width: 149px;
    height: 170px;
    float: left;
}

#bianju {
    background: url(../images/characters/bianju.png) no-repeat;
    width: 142px;
    height: 170px;
    float: left;
}

#interact {
    background: url(../images/characters/box.png) no-repeat;
    width: 160px;
    height: 171px;
    float: left;
}

.lihui {
    display: none;
}
