.toEmbed-canvas,
.toEmbed {
    position: absolute;
}

.toEmbed-canvas {
    z-index: 1;
}

.toEmbed {
    z-index: 20;
    width: 800px;
    height: 500px;
    border: 0px;
}

.backToGame-button {

    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 0px 0px 1 3;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0px 0px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.backToGame-button:hover {
    background-color: #fff;
}

.backToGame-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .backToGame-button {
        min-width: 120px;
        padding: 0 25px;
    }
}